table{
  border: 1px solid black;
  border-collapse: collapse;
}

th{
  border: 1px solid black;
  background-color: #ccc;
  padding: 1em;
  width: 33%;
}

td{
  border: 1px solid black;
  padding: 1em;
  width: 33%;
}

td.timeslot{
  background-color: #ccc;
  font-weight: bold;
  text-align: right;
}

td[colspan="2"]{
  text-align: center;
}

td.transition{
  background-color: #ccc;
}
