/**************************
  Theme
***************************/
:root{
  --theme-background-color: white;
  --theme-foreground-color: black;
  --theme-accent-color: red;
  --theme-font-family: Arial, Helvetica, sans-serif;
}
